<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chau.phimplus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.movie_detail.Setup_ticket"></activity>
        <activity android:name=".setup_ticket" />

        <activity android:name=".ui.Account" />
        <activity android:name=".ui.GioHangActivity" />
        <activity android:name=".ui.DangKy" />
        <activity android:name=".ui.row_list_account" />
        <activity android:name=".ui.movie_detail.MainActivity_MovieDetail" />


        <activity
            android:name=".ui.ChiTietphim"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>